body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#toggle{
    display: none;
}
#label_toggle{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2em;
    color: purple;
    cursor: pointer;
}